*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
#cadastro{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:50% 50%;
}
#direita, #esquerda {
    width: 100%;
    height: 100%;
}
#direita {
    background-image: url(../assets/image/fundo_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33313177;
}
.form {
    color: #FFFFFF;
    background-color: #333131;
    width: 50%;
    height: 250px;
    padding:20px 40px 20px 40px;
    border: #000000 1px solid;
    border-radius: 10px;
}

#esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.form button {
    width: 100px;
    height: 15px;
}
